# Lesson 13 - pandas Basics - Data Analysis
In this lesson we'll learn:

- Creating and manipulating DataFrames
- Filtering and sorting data
- Calculating statistics
- Grouping and aggregating data
- Preparing data for your final project

---
### Setup Instructions
Make sure pandas is installed:  
Code cell:

In [ ]:
import pandas as pd
import numpy as np

print(f"✓ pandas version: {pd.__version__}")
print(f"✓ numpy version: {np.__version__}")
print("✓ Ready for data analysis!")

---
### Part 1: Creating DataFrames
A DataFrame is like a table with rows and columns.  
Code cell:

In [ ]:
import pandas as pd

# Create DataFrame from dictionary
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Emma'],
    'age': [15, 16, 15, 16, 17],
    'grade': [85, 92, 78, 88, 95],
    'city': ['New York', 'Boston', 'Chicago', 'Boston', 'New York']
}

df = pd.DataFrame(data)
print(df)

---
### Part 2: Exploring DataFrames
Get basic information about your data.  
Code cell:

In [ ]:
import pandas as pd

# Create sample data
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Emma'],
    'age': [15, 16, 15, 16, 17],
    'grade': [85, 92, 78, 88, 95]
})

# Basic exploration
print("First 3 rows:")
print(df.head(3))

print("\nLast 2 rows:")
print(df.tail(2))

print("\nShape (rows, columns):")
print(df.shape)

print("\nColumn names:")
print(df.columns.tolist())

print("\nData types:")
print(df.dtypes)

print("\nBasic info:")
print(df.info())

---
### Part 3: Selecting Data
Access specific columns or rows.   
Code cell:

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [15, 16, 15, 16],
    'grade': [85, 92, 78, 88]
})

# Select one column
print(df['name'])

# Select multiple columns
print(df[['name', 'grade']])

# Select by row index
print(df.loc[0])  # First row

# Select by position
print(df.iloc[0])  # First row

# Select specific cell
print(df.loc[0, 'name'])  # First row, name column

---
### Part 4: Filtering Data
Get rows that match conditions.  
Code cell:

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Emma'],
    'age': [15, 16, 15, 16, 17],
    'grade': [85, 92, 78, 88, 95]
})

# Filter: students with grade >= 85
high_grades = df[df['grade'] >= 85]
print("High grades:")
print(high_grades)

# Filter: students who are 16
age_16 = df[df['age'] == 16]
print("\nAge 16:")
print(age_16)

# Multiple conditions (AND)
result = df[(df['age'] == 16) & (df['grade'] >= 90)]
print("\nAge 16 AND grade >= 90:")
print(result)

# Multiple conditions (OR)
result = df[(df['age'] == 15) | (df['grade'] >= 90)]
print("\nAge 15 OR grade >= 90:")
print(result)

---
### Part 5: Sorting Data
Code cell:

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Emma'],
    'age': [15, 16, 15, 16, 17],
    'grade': [85, 92, 78, 88, 95]
})

# Sort by grade (ascending)
print("Sorted by grade (low to high):")
print(df.sort_values('grade'))

# Sort by grade (descending)
print("\nSorted by grade (high to low):")
print(df.sort_values('grade', ascending=False))

# Sort by multiple columns
print("\nSorted by age, then grade:")
print(df.sort_values(['age', 'grade']))

---
### Part 6: Statistics and Aggregation
Calculate summary statistics.  
Code cell:

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Emma'],
    'age': [15, 16, 15, 16, 17],
    'grade': [85, 92, 78, 88, 95]
})

# Basic statistics
print("Mean grade:", df['grade'].mean())
print("Median grade:", df['grade'].median())
print("Max grade:", df['grade'].max())
print("Min grade:", df['grade'].min())
print("Sum of grades:", df['grade'].sum())
print("Standard deviation:", df['grade'].std())

# Count values
print("\nAge counts:")
print(df['age'].value_counts())

# Describe (all statistics at once)
print("\nAll statistics:")
print(df.describe())

---
### Part 7: Grouping Data
Group and analyze by categories.  
Code cell:

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Emma', 'Frank'],
    'city': ['New York', 'Boston', 'New York', 'Boston', 'Chicago', 'Chicago'],
    'grade': [85, 92, 78, 88, 95, 90]
})

# Group by city and calculate average
city_avg = df.groupby('city')['grade'].mean()
print("Average grade by city:")
print(city_avg)

# Multiple aggregations
city_stats = df.groupby('city')['grade'].agg(['mean', 'max', 'min', 'count'])
print("\nMultiple statistics by city:")
print(city_stats)

---
### Part 8: Adding and Modifying Columns
Code cell:

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'grade': [85, 92, 78]
})

# Add new column
df['passed'] = df['grade'] >= 80
print(df)

# Calculate new column
df['grade_percentage'] = df['grade'] / 100
print(df)

# Modify existing column
df['grade'] = df['grade'] + 5  # Curve all grades by 5
print(df)

---
### Part 9: Handling Missing Data
Code cell:

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [15, np.nan, 15, 16],
    'grade': [85, 92, np.nan, 88]
})

print("Data with missing values:")
print(df)

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())

# Drop rows with any missing values
print("\nDrop rows with missing values:")
print(df.dropna())

# Fill missing values
print("\nFill missing values with 0:")
print(df.fillna(0))

# Fill missing values with mean
print("\nFill missing grades with average:")
df['grade'] = df['grade'].fillna(df['grade'].mean())
print(df)

---
### Part 10: Your Project - Data Analysis Plan
Now apply these skills to YOUR project!
Think about:

- What statistics do you want to calculate?
- Do you need to filter the data?
- Should you group by categories?
- What insights are you looking for?

Example analyses by project type:
1. Budget Tracker:

- Total spending by category
- Average daily spending
- Most expensive purchase
- Spending trends over time

2. Grade Analyzer:

- Class average
- Top 3 students
- Grade distribution (count A's, B's, etc.)
- Compare by subject or class

3. Weather Data:

- Average temperature by month
- Hottest and coldest days
- Days above/below certain temperature
- Rainfall statistics

4. Sports Statistics:

- Top scorers
- Average points per game
- Player comparisons
- Team statistics

---
### Important Notes

- DataFrames are like Excel tables in Python
- Use df.head() to preview data
- Filter with conditions: df[df['column'] > value]
- Sort with df.sort_values()
- Calculate stats: .mean(), .max(), .min(), .sum()
- Group data with df.groupby()
- Handle missing data with .dropna() or .fillna()

---
### Practice Tasks
ask 1: Create and Explore
Create a DataFrame with 6 students and these columns:

- name
- age
- grade
- subject (Math, Science, or English)

Then:

- Print first 3 rows
- Print all column names
- Print the shape
- Show basic statistics

Code cell:

In [ ]:
# Your code here
import pandas as pd

---
### Task 2: Filtering Practice
Using the DataFrame from Task 1:

- Show only students with grade >= 85
- Show only Math students
- Show students who are 16 AND have grade >= 80
- Count how many students in each subject

Code cell:

In [ ]:
# Your code here

---
### Task 3: Statistics Calculator
Create a DataFrame with test scores for 5 students (3 tests each).
Calculate:

- Average score per student
- Highest score in each test
- Overall class average
- Student with highest average

Code cell:

In [ ]:
# Your code here
import pandas as pd

data = {
    'student': ['Alice', 'Bob', 'Charlie', 'Diana', 'Emma'],
    'test1': [85, 90, 78, 88, 92],
    'test2': [88, 85, 82, 90, 95],
    'test3': [90, 88, 80, 85, 90]
}

---
### Task 4: Grouping Analysis
Create a DataFrame with sales data:

- product (Apple, Banana, Orange - repeat each 3 times)
- month (Jan, Feb, Mar for each product)
- sales (random numbers)

Calculate:

- Total sales per product
- Average sales per month
- Best-selling product
- Best month overall

Code cell:

In [ ]:
# Your code here

---
### Task 5: Your Project Data Analysis
Load YOUR project CSV and perform analysis:

- Load the data
- Show basic info (shape, columns, head)
- Calculate at least 3 statistics
- Filter data in at least 2 ways
- Group data if applicable
- Print insights you discovered

Code cell:

In [ ]:
# Your code here - analyze YOUR project data
import pandas as pd

---
### Task 6: Complete Analysis Pipeline (Challenge)
Create a complete analysis for a gradebook:

- Create DataFrame with 10 students, 4 subjects, grades for each
- Add column: average grade per student
- Add column: letter grade (A, B, C, etc.)
- Filter: students with average >= 85
- Group by letter grade and count
- Find top 3 students
- Calculate average by subject
- Export results to new CSV

Code cell:

In [ ]:
# Your challenge code here

---
### Advanced Challenge 
Create a full data analysis report:

- Load your project CSV
- Clean the data (handle missing values)
- Calculate multiple statistics
- Create groupings and comparisons
- Add calculated columns
- Filter for insights
- Save processed data to new CSV
- Print a formatted report with findings

Code cell:

In [ ]:
# Your challenge code here

---
### Lesson Summary
What we learned today:

- Creating DataFrames from dictionaries
- Exploring data: head(), tail(), shape, columns, info(), describe()
- Selecting data: df['column'], df[['col1', 'col2']]
- Filtering: df[df['column'] > value]
- Sorting: df.sort_values()
- Statistics: mean(), median(), max(), min(), sum(), count()
- Grouping: df.groupby()
- Adding columns and calculations
- Handling missing data: dropna(), fillna()

Data Analysis Workflow:

- Load data
- Explore (head, info, describe)
- Clean (handle missing values)
- Filter (get relevant rows)
- Calculate (statistics and new columns)
- Group (analyze by categories)
- Visualize (combine with matplotlib)

Next lesson: Introduction to Machine Learning and Final Project Presentations!

---
### Homework (Optional)

1. Complete Project Analysis:

- Perform full analysis on your project data
- Calculate all statistics you need
- Create any filtered or grouped views
- Save processed data if needed
- Document your findings


2. Practice Dataset:

- Find or create a dataset with at least 20 rows
- Perform complete analysis:

   - Load and explore
   - Calculate statistics
   - Filter and sort
   - Group and aggregate


- Write insights you found


3. Analysis Report:

- Take your project data
- Create a formatted text report including:

   - Summary statistics
   - Key findings
   - Interesting patterns
   - Conclusions





Code cell for homework:

In [ ]:
# Space for your homework

---
### Final Project Reminder
Your project should now include:

-  Data in CSV format
- File reading with error handling (Lesson 11)
- Data visualization with matplotlib (Lesson 12)
- Data analysis with pandas (Lesson 13)
- Functions to organize code (Lesson 7)
- Proper documentation

Next lesson: We'll learn basic Machine Learning and you'll present your projects!